<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{ title }}
    </title>

    <link rel="stylesheet" type="text/css" href="@@file/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/css/mothra.css">
  </head>
  <body>
    {% include '_include/navbar.html' %}

    <aside id="sidebar">
      <nav id="main-menu">
        {% include '_include/navigation.html' %}
      </nav>

      <footer class="copyright hidden-sm">
        {% include '_include/footer.html' %}
      </footer>
    </aside>

    <section id="content">
      {% if not wide_layout %}
        <div id="content-wrapper">
      {% endif %}
      {% block breadcrumb %}
      {% endblock %}
      {% block content %}
        <div class="row">
          <div class="col-12">
            <h1>Header</h1>
            <p>Lorem ipsum.</p>
          </div>
        </div>
      {% endblock %}
      {% if not wide_layout %}
      </div>
      {% endif %}
    </section>

    <script src='@@file/js/jquery.min.js'></script>
    <script src='@@file/js/bootstrap.min.js'></script>
    <script src='@@file/js/respond.min.js'></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
