<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="@@file/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/css/mothra.css">
  </head>
  <body>
    {% include '_include/navbar.html' %}

    {% block content %}
    {% endblock %}

    <script src='@@file/js/jquery.min.js'></script>
    <script src='@@file/js/bootstrap.min.js'></script>
    <script src='@@file/js/respond.min.js'></script>
  </body>
</html>
