@sidebar_width: 280px;
@default_padding: 20px;

/* navbar */
.navbar {
  margin-bottom: 0;

  .navbar-brand {
    max-width: none;
  }

  .dropdown-menu form {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    position: inherit;
    float: none;
    border: 0;
    box-shadow: none;

    li {
      a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

/* sidebar */
#sidebar {
  width: @sidebar_width;
  min-height: 100%;
  position: fixed;
  float: left;

  padding: @default_padding;
}

/* content-wrapper */
#content-wrapper {
  margin-left: @sidebar_width;
  overflow: hidden;
}

@media (max-width: 767px) {
  #sidebar {
    position: static;
    width: 100%;
    float: none;
  }

  #content-wrapper {
    margin-left: 0;
  }
}
