/* general */
@default_padding: 15px;

@font_size: 12px;
@font_family: "Open Sans", sans-serif;

@link_color: @color_green;

/* colors */
@color_red: #8C4646;
@color_lightred: #D96459;
@color_orange: #F29966;
@color_yellow: #F2DD4A;
@color_blue: #2D5955;
@color_turuoise: #2D5955;
@color_lightgreen: #7CA68B;
@color_green: #90BD2B;

/* navbar */
@navbar_height: 50px;
@navbar_background_color: #1F262D;
@navbar_brand_color: #FFFFFF;
@navbar_brand_icon_color: #9BC92E;
@navbar_brand_icon_gap: 5px;
@navbar_header_color: #A7BDC6;
@navbar_header_color_hover: #F1FBFF;
@navbar_header_color_focus: #F1FBFF;
@navbar_header_icon_color: #F1FBFF;
@navbar_header_background_color: @navbar_background_color;
@navbar_header_background_color_hover: @navbar_background_color;
@navbar_header_background_color_focus: #5A707A;
@navbar_header_icon_gap: 5px;
@navbar_items_border_width: 1px;
@navbar_items_border_color: #A7BDC6;
@navbar_items_background_color: #FFFFFF;
@navbar_item_color: #28333D;
@navbar_item_color_hover: #28333D;
@navbar_item_icon_color: #28333D;
@navbar_item_background_color: #FFFFFF;
@navbar_item_background_color_hover: #A7BDC6;

/* sidebar */
@sidebar_width: 220px;
@sidebar_background_color: #28333D;
@sidebar_font_size: 11px;

@sidebar_header_size: 13px;
@sidebar_header_padding: 15px;
@sidebar_header_background_color: #28333D;
@sidebar_header_background_color_hover: #9BC92E;
@sidebar_header_color: #5A707A;
@sidebar_header_color_hover: #F1FBFF;
@sidebar_header_icon_color: #A7BDC6;
@sidebar_header_icon_color_hover: #F1FBFF;
@sidebar_header_icon_gap: 8px;
@sidebar_header_border_width: 0px;
@sidebar_header_border_color: #2A2929;

@sidebar_item_size: 11px;
@sidebar_item_background_color: #5A707A;
@sidebar_item_background_color_hover: #A7BDC6;
@sidebar_item_color: #F1FBFF;
@sidebar_item_color_hover: #28333D;
@sidebar_item_icon_color: #A7BDC6;
@sidebar_item_icon_color_hover: #28333D;
@sidebar_item_icon_gap: 5px;
@sidebar_item_border_width: 0px;
@sidebar_item_border_color: #4B4B4B;

/* breadcrumb */
@breadcrumb_background_color: #A7BDC6;
@breadcrumb_item_color: #28333D;
@breadcrumb_item_color_active: #5A707A;
@breadcrumb_item_spacer_color: #5A707A;

/* other */
@issue_dl_padding: 10px;

/* fonts */
@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/OpenSans-Regular-webfont.woff') format('woff'),
       url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: @font_size;
  font-family: @font_family;
  padding-top: @navbar_height;
}

.progress-bar-success {
  background-color: @color_green;
}

.progress-bar-warning {
  background-color: @color_yellow;
}

label, input, button, select, textarea {
  font-size: @font_size;
}

a {
  color: @link_color;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: @font_size;
}

/* navbar */
.navbar {
  margin-bottom: 0;
  background-color: @navbar_background_color;
  border-radius: 0;

  .navbar-brand {
    max-width: none;
    color: @navbar_brand_color;

    i {
      color: @navbar_brand_icon_color;
      margin-right: @navbar_brand_icon_gap;
    }
  }

  .nav {
    li {
      a {
        color: @navbar_header_color;
        background-color: @navbar_header_background_color;
        border-radius: 0;

        .caret {
          border-top-color: @navbar_header_color;
          border-bottom-color: @navbar_header_color;
        }

        i {
          color: @navbar_header_icon_color;
          margin-right: @navbar_header_icon_gap;
        }
      }

      a:hover {
        color: @navbar_header_color_hover;
        background-color: @navbar_header_background_color_hover;

        .caret {
          border-top-color: @navbar_header_color_hover;
          border-bottom-color: @navbar_header_color_hover;
        }
      }

      a:focus {
        color: @navbar_header_color_focus;
        background-color: @navbar_header_background_color_focus;

        .caret {
          visibility: hidden;
        }
      }
    }

    .dropdown-menu {
      background-color: @navbar_items_background_color;
      border: @navbar_items_border_width solid @navbar_items_border_color;
      border-top-width: 0;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      margin: 0;

      li {
        a {
          padding: @default_padding;
          color: @navbar_item_color;
          background-color: @navbar_item_background_color;
        }

        a:hover {
          background: none;
          background-color: @navbar_item_background_color_hover;
          color: @navbar_item_color_hover;
        }

        i {
          color: @navbar_item_icon_color;
        }
      }

      .divider {
        border: 0;
        height: 1px;
      }
    }

    form {
      padding: @default_padding;

      a {
        background: none;
      }
    }
  }

  .navbar-toggle {
    background-color: #2E363F;
    border: 0;
    color: #939DA8;
  }
}

@media (max-width: 767px) {
  .navbar {
    .dropdown-menu {
      position: inherit;
      float: none;
      border: 0;
      box-shadow: none;

      li {
        a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .navbar-fixed-top {
    position: relative;
  }

  body {
    padding-top: 0;
  }
}

.sort {
  padding: 10px 30px 0px 30px;
}

/* sidebar */
#sidebar {
  width: @sidebar_width;
  min-height: 100%;
  position: fixed;
  float: left;
  background-color: @sidebar_background_color;
  font-size: @sidebar_font_size;

  #main-menu {
    .nav {
      .nav-header {
        margin: 0;
        padding: 0;
        font-size: @sidebar_header_size;

        border-bottom: @sidebar_header_border_width solid @sidebar_header_border_color;

        a {
          color: @sidebar_header_color;
          background-color: @sidebar_header_background_color;
          padding: @sidebar_header_padding;

          i {
            color: @sidebar_header_icon_color;
            margin-right: @sidebar_header_icon_gap;
          }
        }
      }

      a:hover, a:focus {
        background: @sidebar_header_background_color_hover;
        color: @sidebar_header_color_hover;

        i {
          color: @sidebar_header_icon_color_hover;
        }
      }

      .dropdown-menu {
        position: inherit;
        width: 100%;
        float: none;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding: 0;

        font-size: @sidebar_item_size;

        li {
          a {
            background-color: @sidebar_item_background_color;

            padding-top: @default_padding;
            padding-bottom: @default_padding;
            color: @sidebar_item_color;
            border-bottom: @sidebar_item_border_width solid @sidebar_item_border_color;

            i {
              font-size: @sidebar_item_size;
              color: @sidebar_item_icon_color;
              margin-right: @sidebar_item_icon_gap;
            }
          }
          a:hover {
            background-color: @sidebar_item_background_color_hover;
            color: @sidebar_item_color_hover;

            i {
              color: @sidebar_item_color_hover;
            }
          }
        }

        li:last-child > a {
          border-bottom: 0;
        }
      }
    }

    .nav-stacked {
      li+li>a {
        margin-top: 0;
      }
    }
  }

  .copyright {
    color: #666;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 0;
    text-align: center;
    width: @sidebar_width;
  }
}

.breadcrumb {
  background-color: @breadcrumb_background_color;
  margin: -@default_padding;
  margin-bottom: @default_padding;
  padding: @default_padding;
  border-radius: 0;

  li {
    text-shadow: none;

    a {
      color: @breadcrumb_item_color;
    }

    +li:before {
      color: @breadcrumb_item_spacer_color;
    }
  }

  .active {
    color: @breadcrumb_item_color_active;
  }
}

.copyright {
  font-size: 11px;
  margin-top: 50px;
  color: #CCC;
}

@media (max-width: 767px) {
  .breadcrumb {
    margin-left: 0;
    margin-right: 0;
  }
}

/* content-wrapper */
#content-wrapper {
  width: 100%;
  min-height: 100%;
}

@media (min-width: 980px) {
  #content-wrapper {
    width: 980px - @sidebar_width - @default_padding;
  }
}

/* content */
#content {
  margin-left: @sidebar_width;
  padding: @default_padding;
}

@media (max-width: 767px) {
  #sidebar {
    position: static;
    width: 100%;
    float: none;

  }

  #content {
    padding: 0;
    margin: 0;
    margin-top: @default_padding;
    margin-bottom: @default_padding;
  }
}

.tab-content {
  margin-top: @default_padding;
}

.panel {
  font-size: @font_size;

  .panel-heading {
    font-size: @font_size;
  }

  pre {
    font-size: @font_size;
    border: 0;
    background: inherit;
    padding: 0;
    margin: 0;
  }
}

.btn-tiny {
  font-size: @font_size;
  padding: 2px 4px;
}

dl.dl-padding {
  margin: 0;
  margin-bottom: -2 * @issue_dl_padding;

  dt,dd {
    padding-bottom: @issue_dl_padding;
  }
}

/* parsley */
input.parsley-error, textarea.parsley-error {
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
    color: #B94A48 !important;
}

ul.parsley-error-list {
    font-size: 11px;
    list-style-type: none;
    margin: 10px;
    -webkit-padding-start: 0;
}
ul.parsley-error-list li {
    line-height: 11px;
}
li.required {
  margin: 0;
  padding: 0;
}
