/* navbar */
.navbar {
  .navbar-brand {
    max-width: none;
  }

  .dropdown-menu form {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    position: inherit;
    float: none;
    border: 0;
    box-shadow: none;

    li {
      a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
