{% extends '_layout/base.html' %}

{% set fluid_layout = true %}

{% set title = "Dashboard" %}

{% macro render_stat_circle(value, max, width, icon, color, desc) %}
  <div class="stat-circle">
    <div class="visual">
      <div class="stat-circle-icon">
        <i class="{{ icon }}"></i>
      </div>

      <input type="text"
             class="dial"
             value="{{ value }}"
             data-max="{{ max }}"
             data-fgColor="{{ color }}"
             data-displayInput="false"
             data-width="{{ width }}"
             data-height="{{ width }}"
             data-thickness=".2"
             >
    </div>

    <div class="details">
      <div class="value">
        {{ value }}
      </div>
      <div class="description">
        {{ desc }}
      </div>
    </div>
  </div>
{% endmacro %}

{% block content %}
  {% set issues = db.issue.list() %}
  {% set number_of_issues = issues|length %}
  {% set issues_closed = db.issue.filter(filterspec={"status": 7}) %}
  {% set number_of_closed_issues = issues_closed|length %}
  {% set number_of_open_issues = number_of_issues - number_of_closed_issues %}
  {% set issues_unassigned = db.issue.filter(filterspec={"assignedto":none, "status":7}) %}
  {% set number_of_unassigned_issues = issues_unassigned|length %}

  {% set projects = db.project.list() %}
  {% set number_of_projects = projects|length %}

  {% set users = db.user.list() %}
  {% set number_of_users = users|length %}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading">
          {{ i18n.gettext('Statistics') }}
        </div>

        <div class="row">
          <div class="col-2">
            {{ render_stat_circle(number_of_issues,
              number_of_issues,
              "100",
              "icon-ticket",
              "#58758C",
              i18n.gettext('Issues')
              )
            }}
          </div>

          <div class="col-2">
            {{ render_stat_circle(number_of_closed_issues,
              number_of_issues,
              "100",
              "icon-ok-sign",
              "#90BD2B",
              i18n.gettext('Closed issues')
              )
            }}
          </div>

          <div class="col-2">
            {{ render_stat_circle(number_of_open_issues,
              number_of_issues,
              "100",
              "icon-tasks",
              "#8C4646",
              i18n.gettext('Open issues')
              )
            }}
          </div>

          <div class="col-2">
            {{ render_stat_circle(number_of_unassigned_issues,
              number_of_issues,
              "100",
              "icon-bug",
              "#D96459",
              i18n.gettext('Unassigned issues')
              )
            }}
          </div>

          <div class="col-2">
            {{ render_stat_circle(number_of_projects,
              number_of_projects,
              "100",
              "icon-shield",
              "#F2DD4A",
              i18n.gettext('Projects')
              )
            }}
          </div>

          <div class="col-2">
            {{ render_stat_circle(number_of_users,
              number_of_users,
              "100",
              "icon-group",
              "#2D5955",
              i18n.gettext('User')
              )
            }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if request.user.hasPermission('View', 'project') and db.project.list() %}
    <div class="row">
      {% for project in db.project.list() %}
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading">
            <a href="project{{ project.id }}">
              {{ project.name }}
            </a>
          </div>

          <p>{{ project.description }}</p>

          {% set issues = db.issue.filter(filterspec={"project":project.id},
            sort=[('+', 'activity')]) %}

          {{ issues|length }} Issues

        </div>
      </div>
      {% endfor %}
    </div> <!-- row -->
  {% endif %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src='@@file/js/jquery.knob.js'></script>
  <script>
    $(function() {
        $(".dial").knob({
          'readOnly': true
          });
    });
  </script>
{% endblock %}
