{% extends '_layout/base.html' %}

{% import "_macros/issue.html" as macro_issue %}

{% set columns = "id,activity,title,creator,project, status, type" %}
{% set status_resolved = "7" %}
{% set status_notresolved = "-1,1,2,3,4,5,6" %}
{% set fluid_layout = true %}
{% set number_of_latest_issues = 15 %}
{% set title = "Dashboard" %}

{% macro render_stat_circle(value, max, width, icon, color, url, desc) %}
  <div class="stat-circle">
    <a href="{{ url }}">
      <div class="visual">
        <div class="stat-circle-icon">
          <i class="{{ icon }}"></i>
        </div>

        <input type="text"
               class="dial"
               value="{{ value }}"
               data-max="{{ max }}"
               data-fgColor="{{ color }}"
               data-displayInput="false"
               data-width="{{ width }}"
               data-height="{{ width }}"
               data-thickness=".2"
               >
      </div>

      <div class="details">
        <div class="value">
          {{ value }}
        </div>
        <div class="description">
          {{ desc }}
        </div>
      </div>
    </a>
  </div>
{% endmacro %}

{% block content %}
  {% set issues = db.issue.filter(filterspec={}, sort=[('-', 'activity')]) %}
  {% set number_of_issues = issues|length %}
  {% set issues_closed = db.issue.filter(filterspec={"status": 7}) %}
  {% set number_of_closed_issues = issues_closed|length %}
  {% set number_of_open_issues = number_of_issues - number_of_closed_issues %}
  {% set issues_unassigned = db.issue.filter(filterspec={"assignedto":none, "status":7}) %}
  {% set number_of_unassigned_issues = issues_unassigned|length %}

  {% set projects = db.project.list() %}
  {% set number_of_projects = projects|length %}

  {% set users = db.user.list() %}
  {% set number_of_users = users|length %}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading">
          {{ i18n.gettext('Statistics') }}
        </div>

        <div class="row">
          <div class="col-sm-2">
            {{ render_stat_circle(number_of_issues,
              number_of_issues,
              "100",
              "icon-ticket",
              "#58758C",
              "issue",
              i18n.gettext('Issues')
              )
            }}
          </div>

          {% set url = request.indexargs_url('issue', {
              '@sort': '-activity',
              '@group': 'priority',
              '@filter': 'status,assignedto',
              '@columns': columns,
              '@search_text': '',
              'status': status_resolved,
              'assignedto': '-1',
              '@dispname': i18n.gettext('Open issues'),
            })
          %}
          <div class="col-sm-2">
            {{ render_stat_circle(number_of_closed_issues,
              number_of_issues,
              "100",
              "icon-ok-sign",
              "#90BD2B",
              url,
              i18n.gettext('Closed issues')
              )
            }}
          </div>

          {% set url = request.indexargs_url('issue', {
              '@sort': '-activity',
              '@group': 'priority',
              '@filter': 'status,assignedto',
              '@columns': columns,
              '@search_text': '',
              'status': status_notresolved,
              'assignedto': '-1',
              '@dispname': i18n.gettext('Open issues'),
            })
          %}
          <div class="col-sm-2">
            {{ render_stat_circle(number_of_open_issues,
              number_of_issues,
              "100",
              "icon-tasks",
              "#8C4646",
              url,
              i18n.gettext('Open issues')
              )
            }}
          </div>

          {% set url = request.indexargs_url('issue', {
              '@sort': '-activity',
              '@group': 'priority',
              '@filter': 'status,assignedto',
              '@columns': columns,
              '@search_text': '',
              'status': status_notresolved,
              'assignedto': '-1',
              '@dispname': i18n.gettext('Unassigned issues'),
            })
          %}
          <div class="col-sm-2">
            {{ render_stat_circle(number_of_unassigned_issues,
              number_of_issues,
              "100",
              "icon-bug",
              "#D96459",
              url,
              i18n.gettext('Unassigned issues')
              )
            }}
          </div>

          <div class="col-sm-2">
            {{ render_stat_circle(number_of_projects,
              number_of_projects,
              "100",
              "icon-shield",
              "#F2DD4A",
              "project",
              i18n.gettext('Projects')
              )
            }}
          </div>

          <div class="col-sm-2">
            {{ render_stat_circle(number_of_users,
              number_of_users,
              "100",
              "icon-group",
              "#2D5955",
              "user",
              i18n.gettext('Users')
              )
            }}
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          {{ i18n.gettext('Latest issues') }}
        </div>

        <table class="table no-margin">
          <thead>
            <tr>
              <th>{{ i18n.gettext('ID') }}</th>
              <th>{{ i18n.gettext('Project') }}</th>
              <th>{{ i18n.gettext('Activity') }}</th>
              <th>{{ i18n.gettext('Name') }}</th>
              <th>{{ i18n.gettext('Status') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for issue in issues %}
              {% if loop.index0 < number_of_latest_issues %}
                <tr>
                  <td>
                    <a href="issue{{ issue.id }}" class="text-url">
                      {{ issue.id }}
                    </a>
                  </td>
                  <td>
                    {% if issue.project %}
                      <a href="project{{ issue.project.id }}" class="text-url">
                        {{ issue.project.name }}
                      </a>
                    {% endif %}
                  </td>
                  <td>
                    {% if issue.activity %}
                      {{ issue.activity.reldate() }}
                    {% endif %}
                  </td>
                  <td>
                    {% if issue.title %}
                      <a href="issue{{ issue.id }}">
                       {{ issue.title.plain(hyperlink=0) }}
                      </a>
                    {% endif %}
                  </td>
                  <td>
                    {% if issue.status %}
                      {{ macro_issue.render_issue_status(issue.status.plain()) }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if request.user.hasPermission('View', 'project') and db.project.list() %}
    <div class="row">
      {% for project in db.project.list() %}
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading">
            <a href="project{{ project.id }}">
              {{ project.name }}
            </a>
          </div>

          <p>{{ project.description }}</p>

          {% set issues = db.issue.filter(filterspec={"project":project.id},
            sort=[('+', 'activity')]) %}

          {{ issues|length }} Issues

        </div>
      </div>
      {% endfor %}
    </div> <!-- row -->
  {% endif %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src='@@file/js/jquery.knob.js'></script>
  <script>
    $(function() {
        $(".dial").knob({
          'readOnly': true
          });
    });
  </script>
{% endblock %}
