{% set required_columns = "title,priority,project,issue_type" %}

{% macro render_select(list, name, property, required) %}
<select name="{{ name }}" class="form-control input-small"
  {% if required %}
  required="required"
  {% endif %}
  >
    {% if not required %}
    <option value="-1" selected="1">
      {{ i18n.gettext('- no selection -') }}
    </option>
    {% else %}
    <option></option>
    {% endif %}
    {% for item in list %}
      <option value="{{ item.id }}"
      {% if context[name].plain()|trim == item[property] %}
        selected="1"
      {% endif %}
      >{{ item[property] }}</option>
    {% endfor %}
  </select>
{% endmacro %}

<form method="POST"
  {% if context.id %}
    action="issue{{ context.id }}"
  {% else %}
    action="issue"
  {% endif %}
  name="itemSynopsis"
  enctype="multipart/form-data"
  class="form-horizontal"
  parsley-validate
  novalidate
>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="title">{{ i18n.gettext('Title') }}</label>
    <div class="col-lg-10">
      <input name="title" id="title" type="text" class="form-control input-small" value="{{ context.title }}" required="required">
    </div>
  </div>

  {% set projects = db.project.list() %}
  <div class="form-group">
    <label class="col-lg-2 control-label" for="project">{{ i18n.gettext('Project') }}</label>
    <div class="col-lg-10">
      {{ render_select(projects, "project", "name", True) }}
    </div>
  </div>

  {% if context.project %}
    {% set versions = db.version.filter(filterspec={'project':context.project.id}) %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="version">{{ i18n.gettext('Version') }}</label>
      <div class="col-lg-10">
        {{ render_select(versions, "version", "name", False) }}
      </div>
    </div>

    {% set milestones = db.milestone.filter(filterspec={'project':context.project.id}) %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="milestone">{{ i18n.gettext('Milestone') }}</label>
      <div class="col-lg-10">
        {{ render_select(milestones, "milestone", "name", False) }}
      </div>
    </div>
  {% endif %}

  {% set priorities = db.priority.list() %}
  <div class="form-group">
    <label class="col-lg-2 control-label" for="priority">{{ i18n.gettext('Priority') }}</label>
    <div class="col-lg-10">
      {{ render_select(priorities, "priority", "name", True) }}
    </div>
  </div>

  {% set issue_types = db.issue_type.list() %}
  <div class="form-group">
    <label class="col-lg-2 control-label" for="issue_type">{{ i18n.gettext('Type') }}</label>
    <div class="col-lg-10">
      {{ render_select(issue_types, "issue_type", "name", True) }}
    </div>
  </div>

  {% set statuses = db.status.list() %}
  <div class="form-group">
    <label class="col-lg-2 control-label" for="status">{{ i18n.gettext('Status') }}</label>
    <div class="col-lg-10">
      {{ render_select(statuses, "status", "name", False) }}
    </div>
  </div>

  {% set resolutions = db.resolution.list() %}
  <div class="form-group">
    <label class="col-lg-2 control-label" for="status">{{ i18n.gettext('Resolution') }}</label>
    <div class="col-lg-10">
      {{ render_select(resolutions, "resolution", "name", False) }}
    </div>
  </div>

  {% set users = db.user.list() %}
  <div class="form-group">
    <label class="col-lg-2 control-label" for="assignedto">{{ i18n.gettext('Assigned to') }}</label>
    <div class="col-lg-10">
      {{ render_select(users, "assignedto", "username", False) }}
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="superseder">{{ i18n.gettext('Superseder') }}</label>
    <div class="col-lg-10">
      <input class="form-control input-small" type="text" name="superseder" value="{{ context.superseder }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="nosy">{{ i18n.gettext('Nosy list') }}</label>
    <div class="col-lg-10">
      <input class="form-control input-small" type="text" name="nosy" value="{{ context.nosy }}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="change_note">{{ i18n.gettext('Change note') }}</label>
    <div class="col-lg-10">
      <textarea name="@note" form-groups="5" class="form-control" id="change_note"
        data-provide="markdown" rows="8"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label" for="file_upload">{{ i18n.gettext('File') }}</label>
    <div class="col-lg-10">
      <input type="file" name="@file" id="file_upload" title="{{ i18n.gettext('Search for a file to add') }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <button class="btn btn-default btn-primary" type="submit" name="submit_button">
        {{ i18n.gettext('Submit') }}
      </button>
      {% if context.id %}
      <a class="btn btn-default" href="{{ context.copy_url() }}">
        {{ i18n.gettext('Make a copy') }}
      </a>
      {% endif %}
    </div>
  </div>

  <input type="hidden" value="new" name="@action">
  <input type="hidden" name="@template" value="item">
  <input type="hidden" name="@required" value="{{ required_columns }}">
</form>
