{% extends '_layout/base.html' %}

{% set title = context.name.plain() %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="project">
      {{ i18n.gettext('Projects') }}
    </a>
  </li>
  <li>
    <a href="project{{ context.project.id }}">
      {{ context.project.name }}
    </a>
  </li>
  <li>
    <a href="{{ request.indexargs_url('milestone', {
      '@sort': '+name',
      '@filter': 'project',
      'project': 1,
      }) }}">
      {{ i18n.gettext('Milestones') }}
    </a>
  </li>
  <li class="active">
    {{ title }}
  </li>
</ul>
{% endblock %}

{% block content %}
  {% include '_include/permission.html' %}

  {% if context.is_view_ok() %}
    <h2>{{ context.name }}</h2>

    {% set milestone_issues =
    db.issue.filter(filterspec={"milestone":context.id}, sort=[('+', 'status'), ('+', 'creation')]) %}

    {% if milestone_issues|length != 0 %}
      <div class="progress">
        {% set done = utils.project_milestone_get_done(milestone_issues) %}
        {% set progress = utils.project_milestone_get_progress(milestone_issues) %}
        <div class="progress-bar progress-bar-success" style="width: {{ done }}%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: {{ progress }}%;"></div>
        <span class="value">{{ done + progress }}%</span>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>{{ i18n.gettext('ID') }}</th>
            <th>{{ i18n.gettext('Type') }}</th>
            <th>{{ i18n.gettext('Name') }}</th>
          </tr>
        </thead>
        <tbody>
        {% for issue in milestone_issues %}
          {% if issue.status.plain() == "resolved" %}
          <tr class="success">
          {% elif issue.status.plain() == "in-progress" %}
          <tr class="warning">
          {% else %}
          <tr>
          {% endif %}
            <td>
              <a href="issue{{ issue.id }}">
                {{ issue.id }}
              </a>
            </td>
            <td>
              {% if issue.issue_type.plain() == "feature request" %}
                Feature
              {% elif issue.issue_type.plain() == "security" %}
                Security
              {% else %}
                Patch
              {% endif %}
            </td>
            <td>
              <a href="issue{{ issue.id }}">
               {{ issue.title.plain(hyperlink=0) }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
