{% extends '_layout/base.html' %}

{% set title = i18n.gettext('Create project') %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="{{ config['TRACKER_WEB'] }}">
      Home
    </a>
  </li>
  <li>
    <a href="project?@template=index">
      Projects
    </a>
  </li>
  <li class="active">
    {{ title }}
  </li>
</ul>
{% endblock %}

{% block content %}
  {% include '_include/permission.html' %}
  {% if request.user.hasPermission('View', 'project') %}
    <h2>{{ title }}</h2>

    <form class="form-horizontal"
          method="POST"
          action='{{ context.designator() }}'
          parsley-validate
          novalidate
          >

      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">
          {{ i18n.gettext('Name') }}
        </label>
        <div class="col-lg-10">
          <input class="form-control input-small" type="text" id="inputName" name="name"
            placeholder="{{ i18n.gettext('Project name') }}" required>
        </div>
      </div>

      <div class="form-group">
        <label for="inputDescription" class="col-lg-2 control-label">
          {{ i18n.gettext('Description') }}
        </label>
        <div class="col-lg-10">
          <textarea class="form-control input-small" id="inputDescription" name="description"
            placeholder="{{ i18n.gettext('Description') }}">
          </textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="inputHomepage" class="col-lg-2 control-label">
          {{ i18n.gettext('Home page') }}
        </label>
        <div class="col-lg-10">
          <input class="form-control input-small" type="text" id="inputHomepage" name="homepage"
            placeholder="{{ i18n.gettext('Home page') }}" parsley-type="url">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-offset-2">
          <button type='submit' class='btn btn-primary'>
            {{ i18n.gettext('Create project') }}
          </button>
        </div>
      </div>

      <input type="hidden" name="@required" value="name">
      <input type="hidden" name="@template" value="item">
      <input type="hidden" name="@action" value="new">
    </form>
  {% endif %}
{% endblock %}
