{% extends '_layout/base.html' %}

{% set title = i18n.gettext('Registration') %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="user?@template=index">
      User
    </a>
  </li>
  <li class="active">
    {{ title }}
  </li>
</ul>
{% endblock %}

{% block content %}
  {% if request.user.hasPermission('Register', 'user') %}
  <form method="POST"
        name ="itemSynopsis"
        enctype ="multipart/form-data"
        class="form-horizontal"
        action ='{{  context.designator() }}'
        data-validate="parsley"
        novalidate
        >
    {% include '_include/form_user_add.html' %}

    <div class='row'>
      <div class='col-lg-10 col-offset-2'>
        <button class="btn btn-primary" type="submit" name="submit">
         {{ i18n.gettext('Register') }}
       </button>

       <input type="hidden" name="@template" value="register">
       <input type="hidden" name="@action" value="register">
      </div>
    </div>
  </form>
  {% else %}
    <div class="alert alert-warning">
      {{ i18n.gettext('You are already registered') }}
    </div>
  {% endif %}
{% endblock %}
