{% extends '_layout/base.html' %}

{% set title = i18n.gettext('New User') %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="user?@template=index">
      User
    </a>
  </li>
  <li class="active">
    {{ title }}
  </li>
</ul>
{% endblock %}

{% block content %}
  {% include '_include/permission.html' %}
  {% if context.is_edit_ok() %}
  <form method="POST"
        name ="itemSynopsis"
        enctype ="multipart/form-data"
        class="form-horizontal"
        action ='{{  context.designator() }}'
        parsley-validate
        novalidate
        >
    {% include '_include/form_user_add.html' %}

    <div class='row'>
      <div class='col-lg-10 col-offset-2'>
        <button class="btn btn-primary" type="submit" value="submit">
          {{ i18n.gettext('Submit') }}
        </button>
      </div>
    </div>

    <input type="hidden" name="@template" value="add">
    <input type="hidden" value="new" name="@action">
  </form>
{% endif %}
{% endblock %}
