{% set columns = "id,activity,title,creator,project, status, type" %}
{% set status_notresolved = "-1,1,2,3,4,5,6" %}

<ul class='nav nav-stacked'>
  <!-- PROJECTS -->
  <li class="nav-header dropdown">
    <a id="menu-dashboard" href="{{ config['TRACKER_WEB'] }}">
      <i class='fa fa-fw fa-dashboard'></i> {{ i18n.gettext('Dashboard') }}
    </a>
  </li>
  <!-- PROJECTS -->
  {% if request.user.hasPermission('View', 'project') %}
    {% if db.project.list() or request.user.hasPermission('Create', 'project') %}
    <li class="nav-header dropdown">
      <a class="dropdown-toggle" id="menu-projects" data-toggle="dropdown" href="#">
        <i class='fa fa-fw fa-shield'></i> {{ i18n.gettext('Projects') }}
      </a>

      <ul class="dropdown-menu" role="menu" aria-labelledby="menu-projects">
        {% for project in db.project.list() %}
        <li>
          <a href="project{{ project.id }}">
            <i class="fa fa-fw fa-leaf"></i> {{ project.name }}
          </a>
        </li>
        {% endfor %}

        <li>
          <a href="project">
            <i class="fa fa-fw fa-list"></i>
            {{ i18n.gettext('View all') }}
          </a>
        </li>

        {% if request.user.hasPermission('Create', 'project') %}
        <li>
          <a href="project?@template=add">
            <i class="fa fa-fw fa-plus"></i>
            {{ i18n.gettext('Create New') }}
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </li>
  {% endif %}

  <!-- QUERIES -->
  {% if request.user.hasPermission('View', 'query') %}
    <li class="nav-header dropdown">
      <a class="dropdown-toggle" id="menu-queries" data-toggle="dropdown" href="#">
        <i class='fa fa-fw fa-search'></i> {{ i18n.gettext('Queries') }}
      </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu-queries">
      {% for query in request.user.queries %}
      <li>
        <a href="{{ query.klass }}?{{ query.url }}">
          <i class="fa fa-fw fa-thumb-tack"></i> {{ query.name }}
        </a>
      </li>
      {% endfor %}

      <li>
        <a href="query?@template=edit">
          <i class="fa fa-fw fa-pencil"></i> {{ i18n.gettext('Edit') }}
        </a>
      </li>
    </ul>
  {% endif %}

  <!-- ISSUE -->
  {% if request.user.hasPermission('View', 'issue') %}
    <li class="nav-header dropdown">
      <a class="dropdown-toggle" id="menu-issues" data-toggle="dropdown" href="#">
        <i class='fa fa-fw fa-ticket'></i> {{ i18n.gettext('Issues') }}
      </a>

      <ul class="dropdown-menu" role="menu" aria-labelledby="menu-issues">
      {% if request.user.hasPermission('Create', 'issue') %}
        <li>
          <a href="issue?@template=item">
            <i class="fa fa-fw fa-plus"></i> {{ i18n.gettext('Create New') }}
          </a>
        </li>
      {% endif %}

      {% if  request.user.username != 'anonymous' %}
        <li>
          <a href="{{ request.indexargs_url('issue', {
            '@sort': '-activity',
            '@group': 'priority',
            '@filter': 'status,assignedto',
            '@columns': columns,
            '@search_text': '',
            'status': status_notresolved,
            'assignedto': request.user.id,
            '@dispname': i18n.gettext('Your Issues'),
          }) }}">
            <i class="fa fa-fw fa-tasks"></i> {{ i18n.gettext('Your Issues') }}
          </a>
        </li>
      {% endif %}

      <li>
        <a href="{{ request.indexargs_url('issue', {
          '@sort': '-activity',
          '@group': 'priority',
          '@filter': 'status,assignedto',
          '@columns': columns,
          '@search_text': '',
          'status': status_notresolved,
          'assignedto': '-1',
          '@dispname': i18n.gettext('Show Unassigned'),
         }) }}">
           <i class="fa fa-fw fa-file-o"></i> {{ i18n.gettext('Show Unassigned') }}
         </a>
      </li>
      <li>
        <a href="{{ request.indexargs_url('issue', {
          '@sort': '-activity',
          '@group': '',
          '@filter': 'status',
          '@columns': columns,
          '@search_text': '',
          'status': status_notresolved,
          '@dispname': i18n.gettext('Show All'),
        }) }}">
          <i class="fa fa-fw fa-file"></i> {{ i18n.gettext('Show All') }}
        </a>
      </li>
      <li>
        <a href="issue?@template=search">
          <i class="fa fa-fw fa-search"></i> {{ i18n.gettext('Search') }}
        </a>
      </li>
    </ul>
  {% endif %}

  <!-- QUERIES -->
  {% if request.user.hasPermission('View', 'user') %}
    <li class="nav-header dropdown">
      <a class="dropdown-toggle" id="menu-user" data-toggle="dropdown" href="#">
        <i class='fa fa-fw fa-group'></i> {{ i18n.gettext('User') }}
      </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu-queries">
      <li>
        <a href="user">
          <i class="fa fa-fw fa-list"></i> {{ i18n.gettext('User List') }}
        </a>
      </li>
    </ul>
  {% endif %}

  <!-- HELP -->
  <li class="nav-header dropdown">
    <a class="dropdown-toggle" id="menu-help" data-toggle="dropdown" href="#">
      <i class='fa fa-fw fa-bookmark'></i> {{ i18n.gettext('Help') }}
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu-help">
      <li>
        <a href="http://www.roundup-tracker.org">
          <i class="fa fa-fw fa-question"></i> Roundup docs
        </a>
      </li>
    </ul>
  </li>

</ul> <!-- nav -->
