{% set range_width = 2 %}

<form class="form-horizontal" ethod="GET" action='{{ request.classname }}'>
  <label class='control-label' for='project'>{{ i18n.gettext('Sort on') }}</label>
  {% for i in range(range_width) %}
    <select name='@sort{{i}}'>
      {% for prop in context.properties() %}
        <option value='{{ prop._name }}'>{{ prop._name }}</option>
      {% endfor %}
    </select>
    <label class="checkbox">
      <input type="checkbox" name='@sortdir{{i}}'> Descending
    </label>
  {% endfor %}
  <label class='control-label' for='project'>{{ i18n.gettext('Group on') }}</label>
  {% for i in range(range_width) %}
    <select name='@group{{i}}'>
      {% for prop in context.properties() %}
        <option value='{{ prop._name }}'>{{ prop._name }}</option>
      {% endfor %}
    </select>
    <label class="checkbox">
      <input type="checkbox" name='@groupdir{{i}}'> Descending
    </label>
  {% endfor %}
  <input type='submit' value='{{ i18n.gettext("Redisplay") }}' class='btn btn-primary'>
  {{ request.indexargs_form(sort=0, group=0) }}
</form>
